apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    ports:
      web:
        port: 80
      websecure:
        port: 443

    persistence:
      enabled: true
      path: /data
      size: 1Gi

    additionalArguments:
      - "--certificatesresolvers.{{ traefik_certificate_resolver }}.acme.email={{ admin_mail }}"
      - "--certificatesresolvers.{{ traefik_certificate_resolver }}.acme.storage=/data/acme.json"
      - "--certificatesresolvers.{{ traefik_certificate_resolver }}.acme.httpchallenge.entrypoint=web"

    entryPoints:
      web:
        address: ":80/tcp"
      websecure:
        address: ":443/tcp"

    http:
      routers:
        # ACME challenge router (no redirect)
        acme:
          entryPoints:
            - web
          rule: "PathPrefix(`/.well-known/acme-challenge/`)"
          service: noop

        # Global redirect router
        redirect:
          entryPoints:
            - web
          rule: "HostRegexp(`{host:.+}`)"
          middlewares:
            - https-redirect
          service: noop

      middlewares:
        https-redirect:
          redirectScheme:
            scheme: https
            permanent: true

      services:
        noop:
          loadBalancer:
            servers:
              - url: "http://127.0.0.1"
