apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    ports:
      web:
        port: 80
      websecure:
        port: 443

    persistence:
      enabled: true
      path: /data
      size: 1Gi

    additionalArguments:
      # ACME / Let's Encrypt
      - "--certificatesresolvers.{{ traefik_certificate_resolver }}.acme.email={{ admin_mail }}"
      - "--certificatesresolvers.{{ traefik_certificate_resolver }}.acme.storage=/data/acme.json"
      - "--certificatesresolvers.{{ traefik_certificate_resolver }}.acme.httpchallenge.entrypoint=web"

      # Global HTTP → HTTPS redirect
      - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
      - "--entrypoints.web.http.redirections.entryPoint.scheme=https"

