---
- name: Install auditd
  ansible.builtin.apt:
    name:
      - auditd
      - audispd-plugins
    state: present
    update_cache: false

- name: Configure auditd
  ansible.builtin.template:
    src: auditd.conf.j2
    dest: /etc/audit/auditd.conf
    owner: root
    group: root
    mode: '0640'
  notify: Restart auditd

- name: Deploy audit rules
  ansible.builtin.template:
    src: audit.rules.j2
    dest: /etc/audit/rules.d/hardening.rules
    owner: root
    group: root
    mode: '0640'
  notify: Restart auditd

- name: Ensure auditd service is enabled and running
  ansible.builtin.systemd_service:
    name: auditd
    enabled: true
    state: started
